<div id="sidebar">
	
	<ul id="indices">
	</ul>

</div><!-- / SIDEBAR -->
<script type="text/javascript">
$(document).ready(function(){
	window.dictionaty = {{html JSON.stringify(dictionary) }};

	_.each(window.data.usedTerms, function(subtypes, type){
		var container = $('#indices'),
			keyEl     = $('<li><a href="/terms/'+type+'" target="_self">'+dictionaty[type]+'</a><ul class="dropdown"></ul></li>'),
			dropdown  = keyEl.find('.dropdown');

		if(window.location.search){
			keyEl.find('a').attr('href', keyEl.find('a').attr('href') + window.location.search);
		}

		keyEl.appendTo(container);

		_.each(subtypes, function(ammount, subtype){
			var subtypeEl = $('<li><a href="/terms/'+type+'/'+subtype+'" target="_self">'+subtype+'</a></li>');
			if(window.location.search){
				subtypeEl.find('a').attr('href', subtypeEl.find('a').attr('href') + window.location.search);
			}

			if(subtype != "plain"){
				subtypeEl.appendTo( dropdown )
			}
		}, this);
	});

	$('.dropdown').each(function () {
		$(this).parent().eq(0).hoverIntent({
			timeout: 100,
			over: function () {
				var current = $('.dropdown:eq(0)', this);
				current.slideDown(100);
			},
			out: function () {
				var current = $('.dropdown:eq(0)', this);
				current.fadeOut(200);
			}
		});
	});	
});
</script>