<div id="sidebar">
	
	<ul id="indices">
	</ul>

</div><!-- / SIDEBAR -->
<script type="text/javascript">
$(document).ready(function(){
	window.dictionaty = {{html JSON.stringify(dictionary) }};
	window.currentDictionary = "{{html currentDictionary }}";

	var dictionatyExt = currentDictionary === "sp" ? "es" : "en";

	_.each(window.data.structure, function(tag){
		var container = $('#indices'),
			keyEl     = $('<li><a href="/terms/'+tag.tagName+'" target="_self">'+dictionaty[tag.tagName]+'</a><ul class="dropdown"></ul></li>'),
			dropdown  = keyEl.find('.dropdown');

		keyEl.appendTo(container);

		_(tag.types).each(function(type){
			var subtypeEl = $('<li><a href="/terms/'+tag.tagName+'/'+type.name+'" target="_self">'+type.labels[dictionatyExt]+'</a></li>');

			subtypeEl.appendTo( dropdown )

			console.log(type)
		});
	});

	$('.dropdown').each(function () {
		$(this).parent().eq(0).hoverIntent({
			timeout: 100,
			over: function () {
				var current = $('.dropdown:eq(0)', this);
				current.slideDown(100);
			},
			out: function () {
				var current = $('.dropdown:eq(0)', this);
				current.fadeOut(200);
			}
		});
	});	
});
</script>