{{layout "../layout"}}
<div id="container">
	<h2>${user.username}(${user.role})</h2>
	{{if user.role === "waiting" || user.role === "bloqued"}}
		<p>Usuario creado, esperando autorizacion</p>
	{{else}}
		<h2>Libros</h2>
		<ul>
		{{each(i, book) books}}
			<li><a href="/admin/books/${book.id}">${book.value.name}</a></li>
		{{/each}}
		</ul>
		<div class="button-container">
			<button id="new-book" class="save">Agregar nuevo libro</button>
		</div>		
	{{/if}}
</div>
<script type="text/javascript">
$('#new-book').click(function () {
	window.location = "/admin/books/new"
});
</script>