{{layout "../layout"}}
<div id="container">
	<h1>Índices:</h1>

	{{partial({usedTerms:usedTerms, dictionary:dictionary}) "./partials/sidebar"}}

	<div id="colright">
		<p class="indices">En esta sección se encuentran varios índices. Estos se forman recuperando automáticamente las palabras o frases marcadas con etiquetas TEI dentro de los textos. Por la forma en que se realiza el marcado, cada índice agrupa una categoría y dentro de ella se encuentran las palabras o frases identificadas con distintos atributos dentro de esa categoría.</p>
		<p class="indices">Por ejemplo, bajo la categoría nombres encontramos los nombres de personas, planetas, dioses y seres mitológicos, lugares, instituciones, constelaciones, signos del zodiaco y divinidades católicas. En fechas, en cambio, sólo encontramos además de un agrupamiento general de las fechas indicadas en los textos, aquellas que se refieren a cometas. Las referencias identificadas se agrupan en tres categorías: citas textuales, citas no textuales y fuentes. Finalmente, bajo la categoría términos, se encuentran los atributos médicas, astrológico-astronómicas, filosóficas, etc.</p>
		<p class="indices">Las palabras marcadas que aparecen en estos índices pueden ser accesibles, también, en la parte derecha de cada folio al dar clic en el menú. En ese menú sólo aparecen las categorías que fueron marcadas en ese folio.</p>
	</div><!-- / COLRIGHT -->
	<div class="clear"></div>
	<a href="#" target="_self" class="top">arriba</a>
</div><!-- / CONTAINER -->
