{{layout "../layout"}}
<div id="container">
	<h1>Índices: 
		<span class="term">
			${ dictionary[type] || type } 
			{{if subtype}}
				${ dictionary[subtype] || type } 
			{{/if}}
		</span>
	</h1>

	{{partial({usedTerms:usedTerms, dictionary:dictionary}) "./partials/sidebar"}}

	<div id="colright">
		{{partial({books:books,dictionary:dictionary}) "./partials/dropdown"}}
	</div><!-- / COLRIGHT -->
	<div class="clear"></div>
	<a href="#" target="_self" class="top">arriba</a>

	<script type="text/javascript">
	$(document).ready(function(){
		window.terms = _.sortBy(window.data.terms, function(term){ 
			console.log(term.key);
			return term.key[2][0] 
		});
		
		var capital     = $('<ul class="capital"><span class="label"></span></ul>'),
			capitalItem = $('<li><a href=""></a></li>'),
			clear		= $('<div class="clear"></div>');

		_.each(terms, function (term, sum) {
			var capitalLetter = term.key[2][0].toUpperCase();
			if( !$('#capital-'+ capitalLetter).length ){
				var ul = capital.clone();
				ul.find('.label').html(capitalLetter+'.');
				ul.attr('id','capital-'+ capitalLetter);
				ul.appendTo('#colright');
			}
						
			var li = capitalItem.clone();

			if(term.key[1]){
				li.find('a').attr('href', encodeURI('/terms/single/'+term.key[0]+'/'+term.key[1]+'/'+term.key[2]) ).html(term.key[2]+'('+term.value+')');
			}else{
				li.find('a').attr('href', encodeURI('/terms/single/'+term.key[0]+'/'+term.key[2]) ).html(term.key[2]+'('+term.value+')');
			}
			li.appendTo( $('#capital-'+ capitalLetter) );
		});

		$('.capital').each(function(i,item){
			if(i > 0 && i% 3 === 2){
				var clearItem = clear.clone();
				clearItem.insertAfter(item);
			}
		});
	});
	</script>
</div><!-- / CONTAINER -->
