{{layout "../layout"}}
<div id="container">
	<h1>Índices: 
		<span class="term">
			${ dictionary[type] || type } 
			{{if subtype}}
				${ dictionary[subtype] || type } 
			{{/if}}
		</span>
	</h1>

	{{partial({usedTerms:usedTerms, dictionary:dictionary}) "./partials/sidebar"}}

	<div id="colright">
		{{partial({books:books,dictionary:dictionary}) "./partials/dropdown"}}
	</div><!-- / COLRIGHT -->
	<div class="clear"></div>
	<a href="#" target="_self" class="top">arriba</a>

	<script type="text/javascript">
	$(document).ready(function(){
		window.terms = _.chain(window.data.terms).map(function(term){
			term.label = term.label.trim()
			term.capitalCode = term.label[0].charCodeAt();
			term.capitalLetter = term.label[0].toUpperCase();

			return term;
		}).sortBy(function(term){
			return term.label
		});
		
		var capital     = $('<ul class="capital"><span class="label"></span></ul>'),
			capitalItem = $('<li><a href=""></a></li>'),
			clear		= $('<div class="clear"></div>');

		window.terms.each(function (term) {
			if( !$('#capital-'+ term.capitalCode).length ){
				var ul = capital.clone();
				ul.find('.label').html(term.capitalLetter+'.');
				ul.attr('id','capital-'+ term.capitalCode);
				ul.appendTo('#colright');
			}
						
			var li = capitalItem.clone(),
				url;

			if(term.subtype === "plain"){
				url = encodeURI(
					'/terms/single/'+window.data.type+'/'+ term.label
					.replace('?','%3F')
					.replace('?','%26') 
				);
			}else{
				url = encodeURI(
					'/terms/single/'+window.data.type+'/'+ (window.data.subtype || term.subtype) +'/' + term.label
					.replace('?','%3F')
					.replace('?','%26') 
				);	
			}

			li.find('a').attr('href', url )
			 .html(term.label+'('+term.count+')');

			li.appendTo( $('#capital-'+ term.capitalCode) );
		});

		$('.capital').each(function(i,item){
			if(i > 0 && i% 3 === 2){
				var clearItem = clear.clone();
				clearItem.insertAfter(item);
			}
		});
	});
	</script>
</div><!-- / CONTAINER -->
