{{layout "../layout"}}
<div id="container" class="atenea">
	<img src="images/home.jpg" class="homeimg" />
	<p class="description">{{html dictionary.intro }}</p>
	<div class="clear"></div>
	<div class="home">
		<h1 class="label">${dictionary.activity}</h1>
	</div>	
	<div class="clear"></div>

	{{each(i, book) books}}
		<div class="home">
			<div class="block">
				<h1>${book.value.author}</h1>
				<h2><a href="/books/${book.id}" target="_self">${book.value.name}</a></h2>
			</div>
		</div>
	{{/each}}	
	<div class="clear"></div>
</div><!-- / CONTAINER -->