{{layout "../layout"}}
<div id="container">
	<h1>${book.name}</h1>
	<h3>${book.author}</h3>
	<p>${book.description}</p>
	<div id="folios" class="foliaje">
		<img src="/images/hr.png" alt="BDPN" />
			{{if prevFolio}}
				<a href="/books/${book.id}/${prevFolio}" target="_self" class="folink">${ dictionary.previous }</a>
			{{/if}}
			<span class="fol">${folio.pb}</span> 
			{{if nextFolio}}
				<a href="/books/${book.id}/${nextFolio}" target="_self" class="folink">${ dictionary.next }</a>
			{{/if}}
		<img src="/images/hr.png" alt="BDPN" />
	</div>

	<div class="media float marginright20">
		<div class="tei-content texto">{{html folio.lined}}</div>
		<script>
		$(document).ready(function (argument) {

			var folio = {
		 		tags      : window.data.rawTags,
				startLine : parseInt( ${folio.startLine || 0 }, 10 )
			}

			$(window).bind('load',function(){			
				$('.tei-content').find('br').each(function(i,item){
					var line = i + 1 + folio.startLine;
					if( ( (line + 1) % 5 == 0 && line !== 0) ){

						var spacer = $('<div class="spacer"/>').insertAfter(item);
						var number = $('<span class="numeralia">'+ (line + 1) +'</span>').appendTo( $('body') );

						number.css({
							'position' : 'absolute',
							'top'      : spacer.offset().top  + 13,
							'left'     : spacer.offset().left - 48
						});
					}
				});

				$($('.tei-content').find('br')[0]).each(function(i,item){
					var line = i + 1 + folio.startLine;
					var number = $('<span class="numeralia">'+line+'</span>').appendTo( $('body') );

					number.css({
						'position' : 'absolute',
						'top'      : $('.tei-content').offset().top  - 5,
						'left'     : $('.tei-content').offset().left 
					});			
				});

				folio.tags.forEach(function(item){
					var li = $('<li><a href="#" target="_self">Barbato</a></li>');
					li.find('a').html(item.reg || item.content);
					li.appendTo('.'+item.tag);

					if( !$('.'+item.tag).length ){
						console.warn(item.tag, 'not present');
					};
				});

				$('.tag-type').click(function(e){
					e.preventDefault();

					$('.valores ul').hide();
					$('#'+this.id+'-tags').show();

					var tagsTypes = $('#'+this.id+'-tags')[0].className;

					$('*','.tei-content').css('color', '');
					$(tagsTypes,'.tei-content').css('color', 'red');
				});

				$('#name').click();
			});

		});
		</script>
	</div>

	<div class="media float margintop15">
		
		<div id="widget">
			<ul id="options">
				<li><a id="name" class="tag-type" href="#" target="_self">${ dictionary.name }</a></li>
				<li><a id="date" class="tag-type" href="#" target="_self">${ dictionary.date }</a></li>
				<li><a id="ref"  class="tag-type" href="#" target="_self">${ dictionary.reference }</a></li>
				<li><a id="term" class="tag-type" href="#" target="_self">${ dictionary.term }</a></li>
				<li><a class="tag-type" href="#" target="_self">${ dictionary.comments }</a></li>
			</ul>
			
			<div class="valores">		
				<ul id="name-tags" class="name"    style="display:none"></ul>
				<ul id="date-tags" class="date"    style="display:none"></ul>
				<ul id="ref-tags"  class="q , ref" style="display:none"></ul>
				<ul id="term-tags" class="term"    style="display:none"></ul>
			</div>
		</div>	
		
		<img src="/images/facsimil.jpg" class="facsimil" />
	</div><!-- / media float marginright20-->

	<div class="clear"></div>

	<div id="folios" class="foliaje">
		<img src="/images/hr.png" alt="BDPN" />
		{{if prevFolio}}
			<a href="/books/${book.id}/${prevFolio}" target="_self" class="folink">${ dictionary.previous }</a>
		{{/if}}
		<span class="fol">${folio.pb}</span> 
		{{if nextFolio}}
			<a href="/books/${book.id}/${nextFolio}" target="_self" class="folink">${ dictionary.next }</a>
		{{/if}}
		<img src="/images/hr.png" alt="BDPN" />
	</div><!-- / foliaje-->

	<a href="#" target="_self" class="top">${ dictionary.top }</a>
</div>