{{layout "../layout"}}
<div id="container">
	<h1>${book.name}</h1>
	<h3>${book.author}</h3>
	<div id="folios" class="foliaje">
		<img src="/images/hr.png" alt="BDPN" />
			{{if prevFolio}}
				<a href="/books/${book.id}/${prevFolio}" target="_self" class="folink">Anterior</a>
			{{/if}}
			<span class="fol">${folio.pb}</span> 
			{{if nextFolio}}
				<a href="/books/${book.id}/${nextFolio}" target="_self" class="folink">Siguiente</a>
			{{/if}}
		<img src="/images/hr.png" alt="BDPN" />
	</div>

	<div class="media float marginright20">
		<div class="tei-content texto">{{html folio.lined}}</div>
		<script>
			var folio = {
				startLine : parseInt( ${folio.startLine}, 10 )
			}

			$(window).bind('load',function(){			
				$('.tei-content').find('br').each(function(i,item){
					var line = i + 1 + folio.startLine;
					if( ( (line + 1) % 5 == 0 && line !== 0) ){
						console.log('yep',line,item);

						var spacer = $('<div class="spacer"/>').insertAfter(item);
						var number = $('<span class="numeralia">'+ (line + 1) +'</span>').appendTo( $('body') );

						number.css({
							'position' : 'absolute',
							'top'      : spacer.offset().top  + 13,
							'left'     : spacer.offset().left - 48
						});
					}else{
						console.log('not', line, item)
					}
				});

				$('.tei-content').find('br').first().each(function(i,item){
					var line = i + 1 + folio.startLine;
					var number = $('<span class="numeralia">'+line+'</span>').appendTo( $('body') );

					number.css({
						'position' : 'absolute',
						'top'      : $('.tei-content').offset().top  - 5,
						'left'     : $('.tei-content').offset().left 
					});			
				});

			})
		</script>
	</div>

	<div class="media float margintop15">
		
		<div id="widget">
			<ul id="options">
				<li><a href="#" target="_self">Nombres</a></li>
				<li><a href="#" target="_self">Fechas</a></li>
				<li><a href="#" target="_self">Referencias</a></li>
				<li><a href="#" target="_self">Términos</a></li>
				<li><a href="#" target="_self">Comentarios</a></li>
			</ul>
			
			<div class="valores">
				<ul>
					<li class="term-odd"><a href="#" target="_self">Barbato</a></li>
					<li class="term-even"><a href="#" target="_self">Cauda</a></li>
					<li class="term-odd"><a href="#" target="_self">Celeste</a></li>
					<li class="term-even"><a href="#" target="_self">Cometa Celeste</a></li>
					<li class="term-odd"><a href="#" target="_self">Crinito</a></li>
					<li class="term-even"><a href="#" target="_self">Elementar</a></li>
					<li class="term-odd"><a href="#" target="_self">Juicio Astrológico</a></li>
					<li class="term-even"><a href="#" target="_self">Paralaje</a></li>
					<li class="term-odd"><a href="#" target="_self">Inficionaba a Constantinopla con hedor de azufre</a></li>
				</ul>
			</div>
		</div>	
		
		<img src="/images/facsimil.jpg" class="facsimil" />
	</div><!-- / media float marginright20-->

	<div class="clear"></div>

	<div id="folios" class="foliaje">
		<img src="/images/hr.png" alt="BDPN" />
		<a href="#" target="_self" class="folink">Anterior</a>
		<span class="fol">${folio.pb}</span> 
		<a href="#" target="_self" class="folink">Siguiente</a>
		<img src="/images/hr.png" alt="BDPN" />
	</div><!-- / foliaje-->

	<a href="#" target="_self" class="top">arriba</a>
</div>