{{layout "../layout"}}
<div id="container">
	<h1 class="seccion">Cómo colaborar</h1>

	<p>La <strong>Biblioteca Digital del Pensamiento Novohispano</strong> es una edición electrónica abierta y producto de la colaboración.</p>
	<p>Para los interesados en estos temas, la biblioteca ofrece distintas oportunidades de colaboración:</p>

	<div class="home marginright20">
	<h2>Comentarista</h2>
	<p>Los académicos estudiosos del mundo novohispano pueden colaborar en la biblioteca haciendo anotaciones y comentando los textos que se encuentran en ella. Para ello es necesario solicitarlo por la <a href="contacto.html" target="_self">forma de contacto</a>, especificando que se desea participar como colaborador.</p>
	</div>

	<div class="home marginright20 ">
	<h2>Curador</h2>
	<p>Los académicos estudiosos del mundo novohispano, que deseen incorporar libros o formar nuevas colecciones de textos novohispanos en la biblioteca, deben solicitarlo igualmente por la <a href="contacto.html" target="_self">forma de contacto</a>, especificando que se desea participar como curador de una colección de la biblioteca.</p>
	</div>

	<div class="home ">
	<h2>Transcripción/Paleografía/marcación</h2>
	<p>Para los estudiantes de licenciatura y de posgrado, que estén interesados en hacer su servicio social o en participar activamente en la formación de la biblioteca y recibir formación en el área de humanidades digitales, pueden participar en la trascripción de los documentos, la paleografía de fuentes (se requiere formación en paleografía), o el marcado de textos en <strong>TEI</strong>. Para hacerlo deben llenar la <a href="contacto.html" target="_self">forma de contacto</a>, especificando en qué se desea es participar.</p>
	</div>

	<div class="clear"></div>
	<br/><br/>
</div><!-- / CONTAINER -->
