{{layout "../layout"}}
<div id="container">
	<h1 class="seccion">How to collaborate in the Library</h1>

	<p>The <strong>Digital Library of Novohispanic Thought</strong> is an open collection of electronic editions and a product of collaboration. For those who are interested in the topic, the Library offers different opportunities for collaboration:
	</p>

	<div class="home marginright20">
		<h2>Commentators</h2>
		<p>Researchers of the Novohispanic world can collaborate in the Library by commenting on the texts that are collected in it. To do so, it is necessary to fill out a request for registration. You may do so by clicking here, or by clicking on the Register button on the top right of the page. Please specify you want to collaborate as a commentator. Once we have received your request, we will get in touch with you.</p>
	</div>

	<div class="home marginright20 ">
		<h2>Curators</h2>
		<p>Researchers of the Novohispanic world who wish to incorporate books or form new collections within the Library should also fill out the request for registration mentioned above. Click here or on the Register button on the top right of the page, and please specify you want to collaborate as a curator.
		</p>
	</div>

	<div class="home ">
		<h2>Transcription/Paleography/marking</h2>
		<p>Undergraduate and graduate students who are interested in social service credits or, in general, in being active in the construction of the Library and receiving training in the digital humanities area, may participate in the transcription of documents, the paleography of sources (paleography background required for this), or in the <strong>TEI</strong> marking of texts. To do so, please fill out a request for registration by <a href="contacto.html" target="_self">clicking here</a> or on the Register button on the top right of this page.</p>
	</div>
	
	<div class="clear"></div>
</div>
