{{layout "../layout"}}
<div id="container">

{{if success}}
	<h1 class="seccion">Mensaje enviado</h1>
{{else}}
	<h1 class="seccion">Contacto</h1>

	<form id="contacto" method="post" action="/contact">
		<label for="nombre">* Nombre completo:</label>
		<input name="name" type="text" id="nombre" />
		<div class="clear"></div>
		
		<label for="mail">* E-mail:<span id="suser"></span></label>
		<input name="mail" type="text" id="mail" />
		<div class="clear"></div>
				
		<label for="usuario">* Asunto:<span id="suser"></span></label>
		<input name="title" type="text" id="asunto" />
		<div class="clear"></div>
					
		<label for="comentarios">* Comentarios:</label>
		<textarea name="body" id="comentarios" cols="62" rows="8"></textarea>
		<br/>
					
		<input name="submit" type="submit" id="enviar" class="marginleft530" value="Enviar" />
	</form>
{{/if}}
	<br/><br/>
</div><!-- / CONTAINER -->