{{layout "../layout"}}
<div id="container">
	<h1 class="seccion">Contact</h1>

	<form id="contacto">
		<label for="nombre">* Full name:</label>
		<input type="text" id="nombre" />
		<div class="clear"></div>
		
		<label for="mail">* E-mail:<span id="suser"></span></label>
		<input type="text" id="mail" />
		<div class="clear"></div>
				
		<label for="usuario">* Subject:<span id="suser"></span></label>
		<input type="text" id="asunto" />
		<div class="clear"></div>
					
		<label for="comentarios">* Commentaries:</label>
		<textarea id="comentarios" cols="62" rows="8"></textarea>
		<br/>
					
		<input type="submit" id="enviar" class="marginleft530" value="Send" />
	</form>

	<br/><br/>
</div><!-- / CONTAINER -->