{{layout "../layout"}}
<div id="container">
	<h1 class="seccion">Editorial criteria</h1>

	<div class="doscolumnas float marginright30">
		<p>The transcription of texts was done with respect of the original linguistic, grammatic and spelling characteristics; no original inconsistencies or mistakes were rectified. For better reading and understanding, in the transcription process the long s of old Spanish was substituted for the modern s; the vowel-consonant v was substituted for u; and j was substituted for i, and viceversa. The ampersand sign (&amp;) and Latin et were conserved. </p>

		<p>The pagination of the original works was respected, too, and only one page is shown at a time on the screen. The representation of texts is done with the use of modern typography, and all lines were numbered to make the citation of all works easier.</p>

		</p><p>The abbreviations that will be substituted for full words in the transcription process of will be the apocopic ones, which are represented in the original texts with tildes that appear over vowels and, in some cases, over the letter q. These indicate the suppression of one or more letters in the interior or at the end of the word they are found in. Abbreviations related to diplomacy, such as V.P. or S.C.S.R.E., will not be modified.</p>
	</div><!-- / MEDIA -->

	<div class="doscolumnas float">
		<p>At the beginning, the facsimile images of the existing covers of texts, as well as the ones containing images or graphics, will be included; eventually, images found in folia and pages with annotations in manuscript will be incorporated too, with the purpose of enabling the observation of the original editions.</p>

		<p>Illegible text will be placed between brackets. Any loss of text because of damage will be marked with the sign [?]. If any other edition or source of the same text exists and can provide the missing information, a note will be added to reference the text from which the transcript was taken. The hand-written annotations that are found in each text will appear in the footnotes of each page (they will be marked as annotations). </p>

		<p>In the case of the manuscripts, the same transcription and presentation criteria will apply. Finally, it has been decided to build the interface of the site and some of its contents in Spanish, French and English.
		</p>
	</div><!-- / MEDIA -->

	<div class="clear"></div>

</div>