{{layout "../layout"}}
<div id="container">
	<h1 class="seccion">Criterios editoriales</h1>
	<div class="doscolumnas float marginright30">
		<p>La trascripción de los textos se hizo respetando la forma lingüística, gramática y ortográfica original, así como los errores de escritura que presentaron. Los nombres propios se conservaron, según se citan en cada texto. Para una mejor lectura y comprensión, se sustituyeron, en el proceso de trascripción, la s larga (?) del español antiguo por la s moderna; las consonantes vocálicas y las vocales consonánticas como la v por la u, al igual que la j por la i y viceversa. No así los signos como el ampersand (&) y el et latino, que sí se conservaron.</p>

		<p>La paginación de la obra se respetó y se presenta una página por pantalla. La representación de los textos se hace con tipografía moderna y los renglones se numeraron, con la finalidad de facilitar la citación de cualquiera de las obras.</p>

		<p>Las abreviaturas que se desatarán en el proceso de transcripción serán los apócopes, que están representados en el texto original con tildes sobre algunas vocales y, en algunos casos, sobre la letra q, indicando la supresión de una o varias letras en el interior o al final de una palabra. Estos se extenderán completando la palabra, según sea el caso. No se desatarán las abreviaturas que correspondan a la diplomática, tales como V. P. o S. C. S. R. E.</p>
	</div><!-- / MEDIA -->
	<div class="doscolumnas float">
		<p>En un inicio se incluirán en las ediciones las imágenes facsimilares de las portadas de cada uno de los textos, así como los que contengan imágenes o gráficos; eventualmente, se incorporarán las imágenes de los folios o páginas que contengan anotaciones manuscritas, con la finalidad de observar los detalles de la edición original.</p>

		<p>El texto ilegible se colocará entre corchetes. Cualquier pérdida de texto por daño o deterioro se marcará con el signo [?], en caso de que exista otra edición o alguna fuente, de la cual se pueda tomar y completar el texto, se anexará una nota que remita al texto del cual fue tomada la transcripción.</p>

		<p>La apostillas y las anotaciones manuscritas que contenga el texto aparecerán como nota al pie de página, especificando en cada nota que se trata de una apostilla o nota manuscrita. En el caso de los manuscritos, se aplicarán los mismos criterios de trascripción y presentación. Por último, se ha decido elaborar la intefaz del sitio y algunos de sus contenidos en español, francés e inglés.</p>
	</div><!-- / MEDIA -->
	<div class="clear"></div>
	<br/><br/>
</div><!-- / CONTAINER -->
