{{layout "../layout"}}
<div id="container">
	<h1 class="seccion">Digital Library of Novohispanic Thought</h1>

	<div class="doscolumnas float marginright30">
		<p>The <strong>Digital Library of Novohispanic Thought (BdPn, for its abbreviation in Spanish)</strong> is a project of the <strong>Faculty of Philosophy and Literature</strong> of the <strong>National Autonomous University of Mexico (UNAM)</strong>. It has been funded as a Basic Research Project through the <strong>Program for the Support of Innovation and Improvement in Teaching, PAPIME</strong>, PE-401407, by the <strong>Director of General Support for the Academic Personnel (DGAPA)</strong> at <strong>UNAM</strong>, and the <strong>National Council for Science and Technology of Mexico (CONACyT)</strong>. </p>

		<p>The <strong>BdPn</strong> has been conceived as a laboratory for the research of Novohispanic texts. In this regard, it is composed in two levels. In the first one, the <strong>BdPn</strong> is a collection of digital editions of diplomatic transcripts of texts taken from books and documents of the 17th century on the practices of astrology and astronomy. These editions are marked in <strong>TEI/XML</strong>.</p>

		<p>On the second level, the BdPn is a group of digital tools for research that offers:</p>

		<ul>
		<li>The automatic indexing of terms, references, names and dates marked in texts.</li>
		<li>A collaboration tool that allows for the creation of interpretive and philological annotations on texts.</li>
		<li>A group of resources that utilizes indexes to offer information on the people, works, quotes, old Spanish words and astronomical and astrological terms that appear in the works.</li>
		</ul>
	</div>	

	<div class="doscolumnas float">
		<p>Our initial objective was to create a collection of academic editions of Novohispanic texts. The criteria for considering the version of a text to be academic is the precision with which the original text is reproduced, as well as on the presence of introductions, notes and structured citations that arise from it (Pierce, 2008).  In this project, we assume that the diplomatic and paleographic transcripts that have been made comply with the requirements of an academic edition. Moreover, the study and interpretation of the works, as well as the critical notes, takes place in two ways: through the existing <strong>TEI</strong> tags, and through the use of the tool that allows the creation of philological and interpretive annotations.</p>

		<p>In this regard, and differently to the way other collections of academic editions function, the <strong>BdPn</strong> is an open platform in which both the collection of documents and the creation of citations are in permanent construction through collaboration.</p>

		<p><a href="http://www.digitalhumanities.org/companionDLS/" target="_blank">M. Price, Kenneth. “Electronic Scholarly Editions”. Schreibman, S et al. A Companion to Digital Literary Studies, Oxford: Blackwell, 2008.</a></p>
	</div>

	<div class="clear"></div>
	<br/><br/>
</div><!-- / CONTAINER -->