{{layout "../layout"}}
<div id="container">
	<h1 class="seccion">Biblioteca Digital del Pensamiento Novohispano</h1>

	<div class="doscolumnas float marginright30">
		<p>La <strong>Biblioteca Digital del Pensamiento Novohispano (BdPn)</strong> es un proyecto de la <strong>Facultad de Filosofía y Letras</strong>, de la <strong>Universidad Nacional Autónoma de México (UNAM)</strong>, que ha sido financiado dentro del <strong>Programa de Apoyo para la Innovación y el Mejoramiento de la Enseñanza, PAPIME</strong>, PE-401407 por la <strong>Dirección General de Apoyo al Personal Académico</strong>, de la <strong>UNAM</strong>, y por el <strong>Consejo Nacional de Ciencia y Tecnología (CONACyT)</strong> como proyecto de investigación básica.</p>

		<p>La <strong>BdPn</strong> ha sido concebida como un laboratorio para la investigación de textos novohispanos. En este sentido está compuesta por dos niveles. Por el primero, la <strong>BdPn</strong> es una colección de ediciones digitales de transcripciones diplomáticas de textos de libros y documentos del siglo XVII sobre la práctica de la astrología y la astronomía, marcados en <strong>TEI/XML</strong>.</p>

		<p>En un segundo nivel, la <strong>BdPn</strong> es un grupo de herramientas digitales para la investigación que ofrece:</p>

		<ul>
		<li>La indexación automática de términos, referencias, nombres y fechas marcadas en los textos.</li>
		<li>Una herramienta de colaboración para hacer anotaciones interpretativas y filológicas sobre el texto.</li>
		<li>Un grupo de recursos que utiliza los índices para proporcionar información sobre personas, obras, citas, palabras del español antiguo y términos astronómicos y astrológicos que aparecen en las obras.</li>
		</ul>
		</div><!-- / MEDIA -->

		<div class="doscolumnas float">
		<p>Nuestro objetivo inicial fue crear una colección de ediciones académicas de textos novohispanos. Una edición académica contempla tanto el rigor con el que texto es reproducido, como la presentación de introducciones, notas y aparato textual fruto de su estudio (Pierce 2008). En este proyecto asumimos que las trascripciones diplomáticas y paleográficas que hemos hecho reúnen plenamente los requerimientos de una edición académica. Además, el estudio y la interpretación de las obras, así como las notas críticas están presentes en dos lugares. Uno a través de las etiquetas de marcado del <strong>TEI</strong>, y a través de la herramienta para hacer anotaciones filológicas e interpretativas.</p>

		<p>En este sentido, y a diferencia de otras ediciones académicas, la <strong>BdPn</strong> es una obra abierta, en donde la colección de documentos como la creación del aparato crítico es algo en permanente construcción por colaboración.</p>

		<p><a href="http://www.digitalhumanities.org/companionDLS/" target="_blank">M. Price, Kenneth. “Electronic Scholarly Editions”. Schreibman, S et al. A Companion to Digital Literary Studies, Oxford: Blackwell, 2008.</a></p>
	</div><!-- / MEDIA -->

	<div class="clear"></div>
	<br/><br/>
</div><!-- / CONTAINER -->
