<div id="footer">
	<div class="int">
		<h2 class="isbn">ISBN: 978-607-02-2211-5</h2>	
		<div id="nav">		
			<ul id="proyecto">
				<li><a href="/project"       target="_self">${dictionary.proyect}</a></li>
				<li><a href="/collaborators" target="_self">${dictionary.collaborators}</a></li>
				<li><a href="/collaborate"   target="_self">${dictionary.collaborate}</a></li>
				<li><a href="/contact"       target="_self">${dictionary.contact}</a></li>
			</ul>
			<ul id="documentacion">
				<li><a href="/documentation" target="_self">${dictionary.documentation}</a></li>
				<li><a href="/criteria"      target="_self">${dictionary.criteria}</a></li>
			</ul>

			<ul id="obras">
				<li><a href="/books"       target="_self">${ dictionary.books }</a></li>
				<li><a href="/authors"     target="_self">${ dictionary.authors }</a></li>
				<li><a href="/collections" target="_self">${ dictionary.collections }</a></li>
				<li><a href="/terms"       target="_self">${ dictionary.indexes }</a></li>
				<li><a href="http://blog.bdpn.unam.mx">${ dictionary.research }</a></li>
			</ul>
			<div class="clear"></div>
		</div>	
		<div id="logos">
			<img src="/images/logoconacyt.png" alt="UNAM" class="float"/>
			<img src="/images/logounam.png" alt="UNAM" class="float"/>
			<div class="clear"></div>
		</div>
		
		<ul id="creditos">
			<li><a href="">${ dictionary.licence }</a></li>
			<li><a href="">| ${ dictionary.council }</a></li>
			<li><a href="">| ${ dictionary.academic }</a></li>
		</ul>
		<div class="clear"></div>
		
		<form id="session" style="display:none">
			<label for="user">Mail: </label>
			<input type="text" id="user" />
			<label for="passw">Password: </label>
			<input type="password" id="passw" />
			<input type="submit" id="entrar" value="Entrar" />
		</form>
	</div>
</div>
