<div id="footer">
	<div class="int">
		<h2 class="isbn">ISBN: 978-607-02-2211-5</h2>	
		<div id="nav">		
			<ul id="proyecto">
				<li><a href="proyecto.html" target="_self">Proyecto</a></li>
				<li><a href="colaboradores.html" target="_self">Colaboradores</a></li>
				<li><a href="colaborar.html" target="_self">Cómo colaborar</a></li>
				<li><a href="contacto.html" target="_self">Contacto</a></li>
			</ul>
			<ul id="documentacion">
				<li><a href="documentacion.html" target="_self">Documentación</a></li>
				<li><a href="criterios.html" target="_self">Criterios editoriales</a></li>
			</ul>

			<ul id="obras">
				<li><a href="/books" target="_self">Obras</a></li>
				<li><a href="/authors" target="_self">Autores</a></li>
				<li><a href="/collections" target="_self">Colecciones</a></li>
				<li><a href="/terms" target="_self">Índices</a></li>
			</ul>				
			<div class="clear"></div>
		</div>	
		<div id="logos">
			<img src="/images/logoconacyt.png" alt="UNAM" class="float"/>
			<img src="/images/logounam.png" alt="UNAM" class="float"/>
			<div class="clear"></div>
		</div>
		
		<ul id="creditos">
			<li><a href="">Creative Commons Atribución No Comercial </a></li>
			<li><a href="">| Consejo Nacional de Ciencia y Tecnología </a></li>
			<li><a href="">| Dirección General de Asuntos del Personal Académico </a></li>
		</ul>
		<div class="clear"></div>
		
		<form id="session" style="display:none">
			<label for="user">Mail: </label>
			<input type="text" id="user" />
			<label for="passw">Password: </label>
			<input type="password" id="passw" />
			<input type="submit" id="entrar" value="Entrar" />
		</form>
	</div>
</div>
