<div id="header">
	<div class="headerint">
		
		<a href="/" target="_self"><img src="/images/unam_bdpn_bgd_logo.png" alt="BDPN" class="logo float" /></a>
		<h1 id="title"><a href="/" target="_self">Biblioteca Digital del Pensamiento Novohispano</a></h1>
		<h2 id="unam">Facultad de Filosofía y Letras, UNAM</h2>
		
		
		<ul id="main">
			<li class="ob"><a href="/books" target="_self">Obras</a></li>
			<li class="au"><a href="/authors" target="_self">Autores</a></li>
			<li class="co"><a href="/collections" target="_self">Colecciones</a></li>
			<li class="in"><a href="/terms" target="_self">Índices</a></li>
		</ul>	
		
		<div id="busqueda">
			<form>
				<input type="text" name="buscar"  />
				<input type="submit" id="submit" value="BUSCAR" />
			</form>
		</div>
		<div class="clear"></div>
	</div>
</div>